<template name="footer">
    <footer class="footer">
        <div class="container">
        <p class="text-muted">
            <a href="https://twitter.com/meetmagdalene" target="_blank" class="title-link" title="made with love">Maggie Benson</a> <i class="fa fa-copyright"></i> {{getYear}}
            <span class="pull-right">
                And now you're a bit wiser. <a href="mailto:meetmagdalene@gmail.com" class="link"><i class="fa fa-envelope-o"></i></a> <a href="https://github.com/meetmagdalene" target="_blank" class="link"><i class="fa fa-github-alt"></i></a> <a href="https://twitter.com/meetmagdalene" target="_blank" class="link"><i class="fa fa-twitter"></i></a>
            </span>
        </p>
      </div>
    </footer>
</template>
