<template name='home'>
  <div class="row">
    <div class="col-xs-12">
      <form class="form all-purpose">
        <div class="form-group">
          <label class="sr-only">Converter Input</label>
          <div class="input-group">
            <div class="input-group-addon">0x</div>
            <input type="text" class="form-control" id="exampleInputAmount" placeholder="00000000">
            <div class="input-group-addon"><sub>16</sub></div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>
