<template name='home'>
  <div class="row">
    <div class="col-xs-12">
        <form class="form all-purpose">
            {{#if isBase "hex"}}
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">0x</div>
                    <input type="text" class="form-control" id="hex-input" placeholder="00000000"/>
                    <div class="input-group-addon base"><sub>16</sub></div>
                </div>
            </div>
            {{/if}}
            {{#if isBase "binary"}}
            <div class="form-group">
                <div class="input-group binary">
                    <input type="text" class="form-control" id="binary-input" placeholder="0000 0000 0000 0000"/>
                    <div class="input-group-addon"><sub>2</sub></div>
                </div>
            </div>
            {{/if}}
            {{#if isBase "decimal"}}
            <div class="form-group">
                <div class="input-group decimal">
                    <input type="text" class="form-control" id="decimal-input" placeholder="0"/>
                    <div class="input-group-addon"><sub>10</sub></div>
                </div>
            </div>
            {{/if}}
            <div class="form-group">
                <select class="form-control selectpicker show-tick" id="base-select">
                    <option value="binary" {{isBinary}}>
                        Binary
                    </option>
                    <option value="decimal" {{isDecimal}}>
                        Decimal
                    </option>
                    <option value="hex" {{isHex}} default>
                        Hexidecimal
                    </option>
                </select>
            </div>
        </form>
    </div>
  </div>
  <div class="row">
      <div class="col-xs-12">
          <span class="conversion-result"></span>
      </div>
  </div>
</template>
