@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,400italic,600italic);

/**************************************************
 General Site Styles
**************************************************/

html {
  overflow-y: scroll;
  min-height: 100%;
  position: relative;
}
body {
  font-family: 'Open Sans', 'Helvetica', sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding-top: 70px; /* body offset for navbar */
  margin-bottom: 45px;
}
h1 {
  font-size: 4em;
}
h2 {
  font-size: 3em;
}
h3 {
  font-size: 2em;
}
h4 {
  font-size: 1.5em;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 45px;
  background-color: #f5f5f5;
  padding-top: 15px;
  font-size: 0.8em;
}
.github-link {
    color: #777;
}
.github-link:hover {
    color: #00cc99;
}
.loading {
    font-size: 3em;
    text-align: center;
    color: #666666;
}
.result {
    font-size: 3em;
    border-bottom: 3px solid #ccc;
    padding: 10px 15px;
    margin-bottom: 0;
    margin-top: 25px;
}


/**************************************************
 Form Styles
**************************************************/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input.style-underline  {
    padding: 10px;
    border: none;
    border-bottom: solid 3px #00cc99;
    transition: border 0.3s;
    width: 100%;
    font-size: 4.5em;
    text-transform: uppercase;
}
::-webkit-input-placeholder {
   text-transform: none;
}

/* Clear the base select input styles */
select.base-select {
    border: none;
    background-color: white;
    margin: 15px 0px 25px 0px;
    padding: 10px;
    width: 100%;
    font-size: 2.5em;
    border-bottom: solid 3px #00cc99;
}

.btn.btn-block {
    background-color: #00cc99;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 2.5em;
    font-weight: 500;
}

/**************************************************
 Media Styles
**************************************************/

/* Extra small devices (phones, less than 768px) */
/* This is the default styles, so no need to specify media here. */

/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {
    input.style-underline  {
        font-size: 2em;
    }
    select.base-select {
        font-size: 1.5em;
    }
    .result {
        font-size: 2em;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (max-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
