@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,400italic,600italic);

/**************************************************
 General Site Styles
**************************************************/

html {
  overflow-y: scroll;
}
body {
  font-family: 'Open Sans', 'Helvetica', sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding-top: 70px; /* body offset for navbar */
}
h1 {
  font-size: 4em;
}
h2 {
  font-size: 3em;
}
h3 {
  font-size: 2em;
}
h4 {
  font-size: 1.5em;
}

/**************************************************
 Media Styles
**************************************************/

/* Extra small devices (phones, less than 768px) */
/* This is the default styles, so no need to specify media here. */

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {

}

/**************************************************
 Form Styles
**************************************************/

.input-group-addon {
  font-size: 1.5em;
}
.input-group-addon:first-child,
.input-group-addon:last-child {
  padding-top: 15px;
}

input.form-control {
  font-size: 2.5em;
  height: 100%;
}
input#binary-input {
  font-size: 1.7em;
}
.binary > .input-group-addon {
  font-size: 1.3em;
}

button.btn.dropdown-toggle.btn-default {
  font-size: 1.5em;
}
